@import url("fonts.css");
@import url("reset.css");
body{
	background-color: rgb(175, 163, 163);
}
.wrapper{
	min-height: 100%;
	padding: 50px;
}
.block{
	width: 200px;
	height: 200px;
	background-color: brown;
	display: inline-block;
	vertical-align: top;
}
.block__item {
	width: 200px;
	height: 200px;
	background-color: blue;
}
.block{
	margin-right: 50px;
}
.block__item {
	transform: scale(0.8);
}
.block-2{
	background-color: aliceblue;
}
.block-3{
	background-color: rgb(45, 118, 90);
}
.block-4{
	background-color: rgb(92, 13, 39);
}
.block-5{
	background-color: aliceblue;
}
.rotate,
.skew{
	padding-top: 70px;
	color: aliceblue;
	font-size: 45px;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
}
.rotate:hover{
	transform-origin:100% 0 ;
	transform: rotate(2deg) ;
	opacity: 0.5;
	outline: 2px solid rgb(11, 13, 12);
}
.block-6{
	background-color: rgb(51, 8, 117);
	color: aliceblue;
	font-size: 50px;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	padding-top: 35%;
}
.block-7{
	background-color: rgb(44, 88, 127);
}
.block-8{
	background-color: rgb(22, 179, 90)255, 246);
}
.block-9{
	background-color: rgb(125, 74, 12);
}
.block-10{
	background-color: aliceblue;
}
.block:hover{
	outline: 2px solid rgb(11, 13, 12);
}
.block div:hover{
	outline: 2px solid rgb(11, 13, 12);
	transform: translate(20px, 20px);
}
.skew{
	transform: skew(-20deg, 0deg);
}
.skew:hover{
	transform: skew(20deg, 0deg);
}
.moon{
width: 400px;
height: 400px;
background-color: aliceblue;
border-radius: 50%;

}
.moon__item{
	width: 400px;
	height: 400px;
	background-color: rgb(175, 163, 163);
	border-radius: 50%;
}
.moon:hover .moon__item{
	transform: translate(150px,20px);
}