@import url("fonts.css");
@import url("reset.css");
body{
	margin: 0 auto;
	background-color: rgb(177, 175, 172);
}
.wrapper{
	min-height: 100%;
	display: flex;
	flex-direction: column;
}
.header,
.footer {
	margin: 0 auto;
	font-size: 25px;
	color: rgb(14, 39, 39);
	background-color: rgb(217, 211, 205);
	width: 100%;
	padding: 30px 0;
	text-align: center;
	text-transform: uppercase;
	font-weight: 900;
}
.page{
	flex-grow: 1;
}
/* .header__container,
.about__container,
.contacts__container,
.footer__container{
	max-width: 1250px;
	margin: 0 auto;
	padding: 0 15px;
	background-color: azure;
} */
[class*="__container"]{
	max-width: 1250px;
	margin: 0 auto;
	padding: 0 15px;
	background-color: rgb(181, 187, 187);
}
.about {
}
.about__container {
}
.about__items {
	display: flex;
	margin: 0 -15px;
}
.about__column {
	padding: 0 15px;
	flex: 0 0 25%;
}
.about__item {
	padding: 15px;
	background-color: antiquewhite;
}
