@import url("fonts.css");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:regular,700italic&display=swap");
@import url("https://fonts.googleapis.com/css?family=Inter:regular,500&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:600,700&display=swap");
@import url("reset.css");
body{
	font-family: "ComicSansMS", serif;
	font-size: 18px;
}
.title{
	font-weight: 700;
	font-size: 24px;
	text-transform: uppercase;
	text-align: center;
	text-shadow: 3px 3px 3px rebeccapurple;
}
.title + .text{
	word-spacing: 7px;
}
.syb-title{
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
	color: blue;
}
.content{
	font-family: "EBGaramond08", serif;
	color: brown;
	font-size: 35px;
	text-transform: lowercase;
}
.list{
	font-family: "Open Sans", cursive;
	font-size: 20px;
	color: teal;
	text-decoration: underline;
	font-style: oblique;
	text-transform: capitalize;
	letter-spacing: 3px;
}
.text{
	color: indigo;
	text-align: justify;
	line-height: 1.4;
	text-indent: 40px;
}
.link-up{
	font-family: "EBGaramond08", cursive;
	color: rgba(137, 43, 226, 0.509);
	font-style: italic;
	font-size: 30px;
}
#historical-reference{
	text-decoration: overline;
}

/* З Фігми */
.why-us {
	color: #37393F;
	font-family: Poppins, sans-serif;
	font-size: 30px;
	font-weight: 600;
	line-height: 1.27;
}
.block {
	color: #7D7D7D;
	font-family: Inter, sans-serif;
	font-size: 18px;
	line-height: 1.46;
}
.benefits {
	color: #6B77E5;
	font-family: Poppins, sans-serif;
	font-size: 20px;
	font-weight: 600;
	line-height: 1.27;
}
.project-info {
	color: #37393F;
	font-family: Poppins, sans-serif;
	font-size: 40px;
	font-weight: 700;
	line-height: 1.27;
}
.about-project {
	color: #7D7D7D;
	font-family: Inter, sans-serif;
font-size: 18px;
line-height: 1.46;
}
.list-info {
	color: #7D7D7D;
	font-family: Inter, sans-serif;
	font-weight: 500;
	font-size: 18px;
	line-height: 1.46;
}
